---
title: Accommodation
---
<section id="main" class="wrapper style3">
  <div class="title">Accommodation</div>
  <div class="container">
    <p>
      Norrköping offers a wide range of accommodation types. Below, we list
      an assortment of hotels where you can book accommodation for your stay in
      Norrköping. Questions regarding accommodation and registration can be
      emailed to <a href="mailto:{{ site.emails.accommodation }}">{{ site.emails.accommodation }}</a>
    </p>

    <p>
      Accommodation during the conference dates are prebooked. You will be able
      to book accommodation when the conference registration opens.
    </p>

    <table class="prices" style="text-align: left !important;">
      <tr>
        <th>Name and Link</th>
        <th>Type</th>
        <th>Address</th>
        <th>Rate per night</th>
        <th>Booking</th>
      </tr>
      {% for hotel in site.data.accommodation %}
        <tr>
          <td>
            {% if hotel.link %}
              <a href="{{ hotel.link }}">{{ hotel.name }}</a>
            {% else %}
            {{ hotel.name }}
            {% endif %}
          </td>
          <td>{{ hotel.type }}</td>
          <td>{{ hotel.address }}</td>
          <td>{{ hotel.rate }}</td>
          <td>
            {% if hotel.booking %}
            {{ hotel.booking }}
            {% else %}
            <em>via Hotel website</em>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</section>
