---
title: Register
---

<section id="main" class="wrapper style3">
	<div class="title">Registration</div>
	<div class="container">

		<div id="content">
			<article class="box post">
				<div class="row aln-center">
					<div class="col-6 col-12-medium">

						<table class="prices">
							<tr>
								<th></th>
								<th><strong style="color:#ffffff">Early bird</s></strong><br />(until {{
									site.data.registration.early_bird.deadline }})</s></th>
								<th><b style="color:#ffffff">Standard</b><br />(after {{ site.data.registration.early_bird.deadline }})
								</th>
							</tr>
							<tr>
								<td><strong>Student</strong></td>
								<td>
									{{ site.data.registration.early_bird.student }} {{ site.data.registration.currency }}
								</td>
								<td>{{ site.data.registration.regular.student }} {{ site.data.registration.currency }}</td>
							</tr>
							<tr>
								<td><strong>Regular</strong></td>
								<td>
									{{ site.data.registration.early_bird.regular }} {{ site.data.registration.currency }}
								</td>
								<td>
									{{ site.data.registration.regular.regular }} {{ site.data.registration.currency }}
								</td>
							</tr>
							<tr>
								<td><strong>Tutorials</strong></td>
								<td>
									{{ site.data.registration.tutorials }} {{ site.data.registration.currency }}
								</td>
								<td>
									{{ site.data.registration.tutorials }} {{ site.data.registration.currency }}
								</td>
							</tr>
							{% if site.data.registration.conference_dinner %}
							<tr>
								<td><strong>Conference&nbsp;Dinner</strong></td>
								<td>
									{{ site.data.registration.conference_dinner }} {{ site.data.registration.currency }}
								</td>
								<td>
									{{ site.data.registration.conference_dinner }} {{ site.data.registration.currency }}
								</td>
							</tr>
							{% endif %}
						</table>

						{% if site.data.registration.registration_open and site.data.registration.registration_link %}
						<ul class="actions special">
							<li>
								<strong>
									<a href="{{ site.data.registration.registration_link }}">
										Click here to register
									</a>
								</strong>
							</li>
						</ul>
						{% else %}
						<center>
							<strong>
								{% if site.data.registration.registration_closed_reason %}
									{{ site.data.registration.registration_closed_reason }}
								{% else %}
								Registration is currently not possible.
								{% endif %}
							</strong>
						</center>
						{% endif %}
					</div>
				</div>
				<hr>

				<div class="row aln-center">
					<div class="col-8">
						<h2>Visa Information</h2>
						<p>
							Citizens of non-Schengen countries may need to apply for a visa to
							participate in IC2S2 2025. Please
							<a href="https://www.migrationsverket.se/English/Private-individuals/Visiting-Sweden/Visit-Sweden-up-to-90-days---apply-for-a-visa.html">
								consult Migrationsverket's website
							</a> to identify whether you need a visa to enter Sweden, and, if
							so, how to apply.
						</p>

						<p>
							You will automatically receive a letter of invitation upon
							successful registration which you can provide when applying for a
							visa. Should you require additional documents or details from the
							conference organizers in order to apply for a visa, please send an
							email to
							<a href="mailto:{{ site.emails.visa }}">{{ site.emails.visa }}</a>
						</p>
					</div>
				</div>
			</article>
		</div>
	</div>
</section>
