---
title: Submit abstract
---
<section id="main" class="wrapper style3">
	<div class="title">Call for Abstracts</div>
	<div class="container">
		<center>
			<ul class="actions special">
				<li>
					{% if site.data.submission.call4abstracts_link and site.data.submission.call4abstracts_open %}
					<a href="{{ site.data.submission.call4abstracts_link }}" class="button style1 large">Submit Abstract</a>
					{% else %}
					Submission is currently not available.
					{% endif %}
				</li>
			</ul>
		</center>
		<div id="content">
			<article class="box post">

				{% include dates.html %}

				<h6 id="augmented">Submission instructions</h6>
				<p>
					Submissions are in the form of anonymous extended abstracts in PDF format, formatted according to the official
					<a href="files/ic2s2_2025_latex_template.zip"><strong>LaTeX</strong></a> or <a
						href="files/ic2s2_2025_word_template.docx"><strong>MS Word</strong></a> templates that can be downloaded
					from the submission website. The submission should include a title, a list of 5 keywords, and an extended
					abstract (serving as the main text of the submission). The abstract should outline the impact of the work,
					along with (if relevant) the main theoretical contribution, data and methods used, and findings. Authors are
					strongly encouraged to include figures and/or tables in their submission.
				</p>

				<p> <strong>Submission Length:</strong> We have improved our submission guidelines to constrain the number of
					figures and tables allowed. Extended abstracts should comprise a maximum length of 2 pages excluding
					references, figures and tables. The authors can additionally include up to 5 (in total) figures and tables. No
					appendices are allowed. When submitting, authors will be also asked to provide a short summary paragraph that
					will be used during the review bidding phase. As the review process is double-blind, please do not include the
					author(s) names or affiliation(s) in the paper, and do not include funding or other acknowledgments. Papers
					violating the submission guidelines will be desk rejected, and the decisions made will be final and binding.
				</p>

				<p>
					<strong>Types of contributions:</strong> The accepted contributions will be selected for one of the following
					presentations:
				<ol>
					<li> a lightning talk (~6 mins) in a plenary session </li>
					<li> an oral presentation in parallel tracks</li>
					<li> a poster presentation session</li>
				</ol>
				Lightning talks will be preferentially assigned to those requesting this form of presentation at submission and
				to early career researchers. In order to be included in the program, at least one of the authors must register
				for the conference by the early-bird registration deadline.


				</p>
				<p>
					<strong>No published proceedings:</strong> Submissions will be non-archival, and thus the presented work can
					be already published, in preparation for publication elsewhere, or ongoing research. Abstracts will be
					reviewed by multiple members of a Program Committee composed of experts in computational social science.


				</p>


				<h6 id="augmented">Enquiries</h6>
				<p>
					For any questions regarding abstract submissions, please write to: <a href="mailto:{{ site.emails.general }}">{{ site.emails.general }}</a>
				</p>

			</article>
		</div>
	</div>
</section>
