<!-- Page Footer -->
<footer class="wrapper">
  <div class="title">Stay in touch</div>
  <div class="container">
    <section class="feature-list small">
      <div class="row">
        <div class="col-4 col-12-small">
          <section>
            <h3 class="icon solid fa-home">Address</h3>
            <p>
              Institute for Analytical Sociology<br />
              Linköping University<br />
              Norrköping, Sweden
            </p>
          </section>
        </div>

        <div class="col-4 col-12-small">
          <section>
            <h3 class="icon solid fa-comment">Social</h3>
            <p>
              <a href="https://twitter.com/ic2s2">Twitter</a><br />
              <a href="https://mathstodon.xyz/@IC2S2">Mastodon</a><br />
              <a href="https://www.linkedin.com/company/ic2s2">Linkedin</a>
            </p>
          </section>
        </div>

        <div class="col-4 col-12-small">
          <section>
            <h3 class="icon solid fa-envelope">Email</h3>
            <p>
              <a href="mailto:{{ site.emails.general }}">
                {{ site.emails.general }}
              </a>
            </p>
          </section>
        </div>
      </div>
    </section>
  </div>
</footer>
