<!-- Includes into the <head> tag -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/assets/css/main.css" />

<!-- Scripts -->
<!--
  NOTE: We have to `defer` all script loadings so that we can have them load
  after the DOM has been loaded, but still keep them in the header (where they
  belong).
-->
<script src="/assets/js/jquery.min.js" defer></script>
<script src="/assets/js/jquery.dropotron.min.js" defer></script>
<script src="/assets/js/browser.min.js" defer></script>
<script src="/assets/js/breakpoints.min.js" defer></script>
<script src="/assets/js/util.js" defer></script>
<script src="/assets/js/main.js" defer></script>

<!-- Include Conferia scripts -->
<script defer src="https://cdn.jsdelivr.net/gh/nathanlesage/conferia@0.17.0/dist/conferia.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/nathanlesage/conferia@0.17.0/dist/conferia.css">
