<!-- Navigation -->
<nav id="nav">
  <ul>
    <li {% if page.url == '/' %}class="current"{% endif %}><a href="/">Home</a></li>
    {% for group in site.data.navigation %}
    <li>
      {% if group.items %}
      <a href="#">{{ group.name }}</a>
      <ul>
        {% for item in group.items %}
          {%  comment  %} This doesn't work just yet with assigning a current site name {% endcomment %}
        <li
          {% if page.name == item.page %}class="current"{% endif %}
        >
          <a href="{{ item.page | relative_url }}">{{ item.name }}</a>
        </li>
        {% endfor %}
      </ul>
      {% else %}
        <a href="{{ group.page | relative_url }}">{{ group.name }}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>
