<section id="sponsors">
  <header class="style1">
    <h6>
      Sponsors
    </h6>
  </header>
{% for sponsors in site.data.sponsors.sponsors %}
  {% unless sponsors.sponsors %}
    {% continue %}
  {% endunless %}
  {% comment %} <header class="style1">
    <h6 id="{{ sponsors.title | slugify }}">
      {{ sponsors.title }}
    </h6>
  </header> {% endcomment %}
  <div class="container">
    <div class="row aln-center">
    {% for sponsor in sponsors.sponsors %}
      <div class="col-{{ sponsor.width }} col-12-small">
        <section class="highlight">
          <a href="{{ sponsor.url }}">
            <img src="{{ sponsor.image }}" alt="{{ sponsor.name }}" style="max-width: 100%"/>
          </a>
        </section>
      </div>
    {% endfor %}
    </div>
  </div>
  {% if forloop.last == false %}
    <hr />
  {% endif %}
{% endfor %}
</section>
