<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ site.title }}</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <style>
      html, body {
        font-family: Ubuntu, sans-serif;
      }
    </style>

    <!-- Include Conferia scripts -->
    {% comment %} <script defer src="https://cdn.jsdelivr.net/gh/nathanlesage/conferia@main/dist/conferia.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/nathanlesage/conferia@main/dist/conferia.css"> {% endcomment %}
    <!-- DEBUG: Load files directly. This is not recommended for production since GitHub is not a CDN, but since I need to use IC2S2 for debugging, this is probably fine. -->
    <script defer src="https://raw.githubusercontent.com/nathanlesage/conferia/refs/heads/main/dist/conferia.js"></script>
    <link rel="stylesheet" href="https://raw.githubusercontent.com/nathanlesage/conferia/refs/heads/main/dist/conferia.css">
	</head>
	<body>
    {{ content }}
	</body>
</html>
